<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="images/cloub.png" type="images/weibo.png" th:href="@{/resources/login/images/cloub.png}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>老司机访问出错400页面模板</title>
    <link rel="stylesheet" type="text/css" href="../../../resources/error/css/style1.css" th:href="@{/resources/error/css/style1.css}" />
</head>

<body style="background:#0e84be;">

<!---400--->
<div class="error_new_bg pr">
    <div class="error_new_content">
        <div class="error_new pa">
            <div class="fl error_new_left"><img src="../../../resources/error/images/error.png" th:src="@{/resources/error/images/error.png}"></div>
            <div class="fl error_new_right">
                <div class="error_detail" >
                    <p class="error_p_title" style="color:yellow;">哎呦~ 老司机居然累倒了~~400</p>
                    <p class="error_p_con" style="color:yellow;">※ 别急，工程师正在紧急处理，马上就好。</p>
                    <p class="error_p_con" style="color:yellow;">※ 您可QQ:454097462，通知二当家的开发人员！</p>
                    <p class="error_p_con" style="color:yellow;">※ 感谢您对云智工作室的支持，请您耐心等待！</p>
                </div>

                <p class="error_new_right_btn pr">
                    <a href="#" class="type-2 type-3">
                        <i> 返回首页</i>
                        <i> 返回首页 </i>
                        <i> 返回首页 </i>
                        <i> 返回首页 </i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>